 /*-------------------------------------------------------subscribe------------------------------------------*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

 #subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/your-resources/homepage-footer-background.jpg");
    background-repeat: no-repeat;
    background-position: 31% 80%; 
    width: 100vw;
    height: auto;
    
  
  }
  #subscribe .subscribe__title {
    color: white;
    margin: 2rem;
    top: 2rem;
    text-align: center;
  }
  #subscribe .subscribe__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  }
  #subscribe .subscribe__form--btn{
    margin: 1rem;
    font-size: 1.5rem;
    width: 90vw;
    height: 10vw;
    border-radius: 0.4rem;
    background-color:#8121e0;
    border: none;
    cursor: pointer;
    margin-bottom: 4rem;
  }
  
  #subscribe .subscribe__form--mail {
    
  width: 90vw;
  height: 10vw;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  padding: 1rem;
  }
  /* --------------------recent news--------------*/
  
  #news {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    
  
  }
  #news .news__title{
    
    margin: 4rem auto;
   padding: 4rem auto;
  }
  #news .news__block{
    padding: 0 4rem 3rem 0.5rem;
  }
  
  .news__block--date{
    width: max-content;
    background-color:#8121e0; 
    background-size: auto;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.3rem;
    color: white;
    font-weight: 900;
  }
  #news .news__block--title{
    line-height: 1.8rem;
    font-weight: 300;
    margin: 1rem 0 1rem 0;
    }
    #news .news__block--info{
  
      line-height: 1.8rem;
      font-weight: 300;
      margin-bottom: 2rem;
  
      }
      #news a{
        color: black;
        text-decoration: none;
        font-size: 1.5rem;
        
      }
  
      /*-----------galery--------------*/
  
      #gallery .galery--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
        height: auto;
      }
      #gallery .galery--container img{
        padding: 0;
        margin-top:-4px;
        max-width: 100vw;
        height: auto;  
      }
         /*-----------ticket--------------*/
  
     #tickets {
      
       width: 100vw;
       height: auto;
     } 
     #tickets .tickets--container {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 3rem;
     }
     #tickets .tickets__title{
         margin-bottom: 3rem;
     }
       #tickets .tickets-card{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
       }
     #tickets .tickets-cards{
         display: flex;
         align-items: center;
         justify-content: center;
     }
     #tickets .tickets-card__title{
         font-weight: 200;
         text-align: center;
         letter-spacing: 0.1rem;
         margin-bottom: 1rem;
     }
     #tickets .tickets-card__price{
        display: flex;
        align-content: center;
        justify-content: center;
         position: relative;
     }
     #tickets .tickets-card__dollar{
        font-weight: 800;
        position: relative;
        top: 10px;
        
     }
     #tickets .tickets-card__number{
         font-size: 3rem;
         font-weight: 400;
         
     }
     
     #tickets .tickets-card__body ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #444444;
     } 
     #tickets .tickets-card__body ul li{
         padding: 0.2rem;
         margin: 0.2rem;
     }
     #tickets .tickets-card__button{
         margin-top:1rem;
         padding:  1rem 2rem 1rem 2em;
         background-color: white;
         border: 0.1rem solid black;
         border-radius: 0.3rem;
          }
          #tickets .tickets-card__button:hover{
            color: white;
            background:#8121e0;
            border: #8121e0;
            cursor: pointer;
          }

/*----------------------------------latest release-----------------------*/
#Latestrelease .Latestrelease__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

#Latestrelease .Latestrelease__block--texte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
#Latestrelease .Latestrelease__block--texte .Latestrelease__block--title{
    margin: 3rem 0 2rem 0;
}
#Latestrelease .Latestrelease__block--texte .Latestrelease__block--desc{
    color: #444444;
    text-justify: center;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 2.5rem;
    line-height: 2rem;
    font-weight: lighter;
}
#Latestrelease .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
#Latestrelease .card .card__image img{
    width: 95vw;
    height: auto;
}
#Latestrelease .card .card__copy{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}
#Latestrelease .card p{
    color: #444444;
    padding-top: 0.5rem;
    font-weight: 400;
}

/*--------------------------------------------disco------------------------*/

#listen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/your-resources/homepage-latest-releases-background.jpg");
  background-repeat: no-repeat;
  background-position: 57% 36%;
  width: 100vw;
  height: 80vw;

}
#listen .stack__third-block{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
#listen .stack__third-block .stack__third-block__title{
    text-align: center;
    padding: 1rem;
    color:white;
    font-weight: 600;

}
#listen a{
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: white;
     margin: 1rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    background-color:#8121e0;
    padding: 1rem 3rem;
    cursor: pointer;
}
// first block content 

#Single {
    background-image: url("../../../your-resources/homapage-banner-img.jpg");
    background-repeat: no-repeat;
    background-position: -5vw 0vw;
    background-size: 161vw 51vh;
    height : 46vh;
    display: flex;
    align-items: center;
    justify-content: start;
    color : white;
    .stack__first-block {
        margin : 0 0 0 1rem ; 
        .Subtitle {
            font-size: 7vw;
        }
        .title {
            color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-fill-color: transparent;
            font-size: 10vw;
            
        }
        .playbar{
            display : flex;
            align-items: center;
            width: 92vw;
            margin: 9px 0 -24px 0;
            justify-content: space-between;

            .playbar__bar {
                width: 52vw;
                background-color: white;
                opacity: 0.4;
                height: 4px;

            }
        }
    }


}


//rectangle of second block 

.stack__second-block__rectangle {
                width : 95vw;
                height: 43vh;
                background-color: rgb(42, 41, 41) ;
                color : white; 
                margin : auto; 
                border-radius: 10px;
                position: relative;
                top : -30px;
                display :flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                padding-bottom: 3vh;
                margin-bottom: 10vh;
               
                .stack__second-block__title{
                    text-align: center;
                    .stack__second-block__subtitle{
                        margin-bottom:1rem;
                        font-weight : 700;
                        font-size: 8vw ;
                    }
                    .stack__second-block__description{
                        font-size: 4.5vw;
                        margin: 0 3vw 0 5vw;
                    }

                }
                .stack__second-block__block{
                   
                    justify-content: space-around;
                    display:flex;
                    width: 77vw;
                    text-align:center;
                    .stack__second-block__item{
                        .stack__second-block__subtitle{
                            font-size:11vw;
                            font-weight : 500;
                        }
                        .stack__second-block__description{
                            font-weight: 200;
                            font-size:2vw;
                            text-transform: uppercase;
                            font-size: 2vw;
                        }
                    }
                }

                .boutton {
                    @include button ;
                    width: 61vw;
                    border-radius: 6px;
                    font-weight: 600;
                    
                }



}

//about part 

.stack__second-block__image{
    overflow: hidden;
    border-radius: 11px;
    width: 95vw;
    margin: auto;
    img{
        width:95vw;
    }
}
.stack__second-block__title {
    text-transform: capitalize;
    padding: 0 0 0 3vw;
    margin-top: 6vh;
}
.stack__second-block__comment{
    padding: 0 0 0 3vw;
    width: 95vw;
    color: $grey;
    font-size: 4vw;
    
        .quotation{
            quotes: none;
            position: relative;
            margin: 0 15vh 0 9vh;
            font-size: 5vw;
            .quotation--mark{
                color: $purple;
                position: absolute;
                font-size: 10vw;
                top: -2vw;
                left: -4vw;
                transform: rotate(28deg);
            }
           /* z-index: 1;
            line-height: 4.5vh;
            font-size: 6vw;*/
          /* &::before {
            content: " '' ";
            color: purple;
            position: relative;
            font-size: 10vh;
            top: 6vh;
            left: 6vw;
            z-index: 0;
            opacity: 0.5;
           }*/
        }
        
    
}
.quotation {
    padding: 0 0 0 0;
    display: block;
}




.galery--container {
    img {
        width:100vw;
    }
}

//fanbase
#fanbase {
    
    background-color: $darkgrey;
    color : white;
    




    p {
        color : $grey;
    }
    .fanbase__galery{
        display: flex;
        align-items: center;
        flex-direction: column;

   
        div{
            .fanbase--galery__img--modified{
            display: flex;
            justify-content: center;
            width:61vw;
            }
           
            
           
    
        }
        .fanbase-galery_item-3{
            overflow: hidden;
            height: 11vw;
            transform: rotate( 180deg );
            img {
            z-index: 1;
            position: relative;
            width : 78vw;
            transform: rotate( 180deg );
            
            }
                           
        
        }
        .fanbase-galery_item-7{
            overflow: hidden;
            height: 3vh;
            margin: 0 0 1vw -17vw;
 
        } 
        .fanbase-galery_item-4{
            margin-left: -29vw;
            img {
                z-index: 2;
                position: relative;
                margin-top: -2vh;
                width: 61vw;
            }
        
        }
        .fanbase-galery_item-5{
            overflow: hidden;
            height: 3vh;
        
        }
        .fanbase-galery_item-2{
            height: 35.5vh;
        }

        .fanbase-galery_item-9{
            margin-left: 12vw;

            img{
                width: 73vw;
               
            }
        }

        
    }
        .fanbase__header {
            margin: 0 10vw 0 3vw;
        }
        .fanbase__body {
                        text-align : center;
                        margin: 0 10vw 0 7vw;
                        margin-bottom: 4vh;
                        padding-bottom: 6vh;
                        .fanbase-list {
                            list-style-type:none ;
                        }
                }
        
        .fanbase--galery__img-1{
           
            width: 78vw;
        }
        .fanbase--galery__img-2{
            
            width: 59vw;
        }
        .fanbase--galery__img-3{
            
            padding-bottom: 6vh;
            padding-top : 9vh;
            width: 50vw;
        }
        .fanbase--galery__img-4{
            
            width: 69vw;
        }
        .fanbase--galery__img-5{
            width: 89vw;
        }


        
        
        img{
            border-radius: 10px;
            
    }


    
}
