// * -------Header background -----* // 


.stack_first-block--Discopraphy{
    background-position-x: -9vw;
    background-position-y: -30vh;
    background-size: 120vw 163vh;
    background-repeat:no-repeat;
}
