

 *{
    padding : 0 ; 
    margin : 0 ; 
    box-sizing: border-box;  
    font-size: 1.8vh; 

}

*::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #8121e0;
    border:none;
  }
  
  *::-webkit-scrollbar-thumb {
    background: white;
    border: none;
  }
  

  html {
  scroll-behavior: smooth;
}


@mixin reset {
    padding : 0 ;
    margin : 0 ;
    box-sizing: border-box;
    font-size: 1.8vh;

}



