//import utils 
@import 'utils/_reset.scss';

//import color 
@import "color/_color.scss";

//import mixin 
@import "mixins/_mixins.scss";

// import Main/mobile
@import 'footer/_mobile.scss';
@import 'header/_mobile.scss';
@import "main/home/_mobile.scss";


*{
  padding : 0 ;
  margin : 0 ;
  box-sizing: border-box;
}



*::-webkit-scrollbar {
  width: 1vw;
}

*::-webkit-scrollbar-track {
  background: $purple;
  border:none;
}

*::-webkit-scrollbar-thumb {
  background: white;
  border: none;
}


html {
scroll-behavior: smooth;
}


body {
  font-family: $font;
  box-sizing: content-box; 
}


#fanbase{
  position:relative;
  @include flex;
  flex-direction: column;
  background-color: $grey;
  padding:2rem;
}

.fanbase__galery{
  display:flex;
  flex-direction: column;
  position:relative;
  margin: auto;
  padding:0.5rem;
  padding-bottom: 2rem;
}

.fanbase__img{
  border-radius: 5px;
}


.fanbase__header{
  display:flex;
  flex-direction: column;
  justify-content: left;
  margin:auto;
  padding:0.5rem;
}

.fanbase__title{
  color:$white;
}

.fanbase__subtitle{
  color:$white;
  padding-left: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 95%;
}

.fanbase__body{
  position:relative;
  @include flex;
  flex-direction: column;
  text-align: center;
}

.fanbase__list{
  position:relative;
  @include flex;
  flex-direction: column;
  text-align: center;
}

.fanbase-list__title {
  color:$white;
  padding:0.5rem;
}

.fanbase-list__body {
  color:$white;
  text-align: center;
  padding: 0.5rem;
  padding-bottom: 1rem;
  line-height: 2rem;
}

.fanbase__body{
  padding-top: 0.5rem;
  max-width: 90%;
}

.fanbase-list__item:before {
  content: '';
  width: 1.25rem;
  height: 1.875rem;
  background: transparent;
  border: 2px solid $purple;
  position: absolute;
  left: 45%;
  top: 0px;

}

.fanbase-list__item {
  position: relative;
  padding-top: 5rem; 
  padding-bottom: 3rem;
}

.fanbase-list__item:last-child{
  padding-bottom: 2rem;

}