#news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.5rem;
  margin-top: 2.5rem;
}

.news--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.news-cards__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  margin: auto;
  width: 100vw;
  height: auto;
}

.news-cards__slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.news-cards__slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100vw;
  height: auto;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news__card {
  padding: 0 4rem 3rem 0.5rem;
}

.news__title {
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  padding-top: 1rem;
}

.news__card--date {
  width: max-content;
  background-color: #8121e0;
  background-size: auto;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-left: 2rem;
  margin-top: 2rem;
  border-radius: 0.3rem;
  color: white;
  font-weight: 900;
}

.news__card--title {
  padding: 2rem 0.5rem 0.5rem 2rem;
  line-height: 2.4rem;
  font-weight: 300;
}

.news__card--body {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.news__card--link {
  width: 100%;
  align-self: left;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-weight: 500;
  color: #282828;
  line-height: 4rem;
}
