 
//import utils 
@import 'utils/_reset.scss';

//import color 
@import "color/_color.scss";

//import mixin 
@import "mixins/_mixins.scss";

// import Main/mobile
@import 'footer/_mobile.scss';
@import 'header/_mobile.scss';
@import "main/home/_mobile.scss";

 


  #tickets {
    @include flex;
    flex-direction: column;
    margin: 0.5rem;
    margin-top: 2rem;
}

.tickets--container{
  padding-top:1rem;
  padding-bottom: 1rem;
}

.tickets__title{
    @include title;
  text-align: center;
  color: $darkgrey;
  letter-spacing: 0.1rem;
  padding:0.5rem;
  padding-bottom: 1rem;
}

.tickets-cards__slider {
    @include flex;
    flex-direction: column;
    background:$white;
    margin:auto ;  
    width:100%; 
    height: auto;
  }


.tickets-cards__slides {
  display: flex;  
  overflow-x: auto;
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.tickets-cards__slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;  
  display: flex;
  justify-content: center;
  align-items: center;

}



  .tickets-card {
    @include flex;
    text-align: center;
    line-height: 2.5rem;
    flex-direction: column;
    background:$white;
    margin: 2rem 1rem 2rem 1rem ;   
  }

  .tickets-card__price{
    @include flex;
    flex-direction: row;
    padding-bottom: 1rem;
  }

.tickets-card__dollar{
  color: $darkgrey;
  font-weight: 600;
  font-size: $big; 
  padding-top: 1rem;
  margin: 0.2rem;

}

.tickets-card__number{
  color: $grey;
  font-family: $font;
  font-weight: 500;
  font-size: 4.2rem; 
  padding-top:2.2rem;
  padding-bottom: 1rem;
  letter-spacing: 0.2rem;
  margin: 0.2rem;
}


.tickets-card__body{
  color: $grey;
  font-weight: 300;
  line-height: 2.2rem;
  padding-bottom: 2rem;
}

.tickets-card__title{
  color: $grey;
}

.tickets-card__button{
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  margin: 1rem;
  font-size: $small;
  background-color : $white; 
  color : $darkgrey;
  font-weight: 600;
  border-radius: 5px;
  width : fit-content; 
}

.tickets-cards button:hover {
  background-color:$purple; 
  color:$white;
}
