.gallery{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
}
.gallery__img{
    max-width: 100vw;
    height: auto;
    margin: 0.2rem 0;
   
}
.gallery--box{ 
    background-color: hotpink;

}
 