


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(29vw , 1fr));
    gap: 1rem;
    margin: 1rem;
    align-self: center;
    align-content: center;
    justify-content: center;
    
 }
 
 .gallery--box{
     width: 30vw;
 
 }
 .gallery__img{
     width: 30vw;
 }