* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 1vw;
}

*::-webkit-scrollbar-track {
  background: #8121e0;
  border: none;
}

*::-webkit-scrollbar-thumb {
  background: white;
  border: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #282828;
  margin: 0px;
  padding: 2rem;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .social__footer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.footer li {
  color: white;
  text-decoration: none;
}

.social__footer--item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444444;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1rem;
}

.relative-link__footer--item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin: 0.5rem;
}

.relative-link__footer--item a {
  color: white;
  text-decoration: none;
}

.social__footer--item a {
  color: white;
}

.footer__upbtn {
  position: fixed;
  right: 0;
  bottom: 0;
  color: white;
  background-color: #8121e0;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  scroll-behavior: smooth;
}

footer .footer__copyright {
  color: #444444;
  font-size: 0.9rem;
}

.main-nav {
  display: none;
}

.hidden {
  display: none;
}

.header {
  max-width: 480px;
  width: 100vw;
}

.main-nav--mobile {
  display: flex;
  background-color: #282828;
  flex-direction: row;
  font-size: 0.5rem;
  justify-content: start;
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
.main-nav--mobile .main-nav__hamburger--mobile {
  margin: 0 0.6rem 0 0.5rem;
  font-size: 2rem;
}
.main-nav--mobile .main-nav__hamburger--mobile input {
  display: block;
  width: 9vw;
  height: 5vh;
  position: absolute;
  top: 4vw;
  left: 1vw;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
}
.main-nav--mobile .main-nav__hamburger--mobile input:checked ~ ul {
  transform: none;
}
.main-nav--mobile .main-nav__hamburger--mobile input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
.main-nav--mobile .main-nav__hamburger--mobile input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.main-nav--mobile .main-nav__hamburger--mobile input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.main-nav--mobile .main-nav__hamburger--mobile span {
  display: block;
  width: 8vw;
  height: 0.5vh;
  margin-bottom: 1vh;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 3;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.main-nav--mobile .main-nav__hamburger--mobile span:first-child {
  transform-origin: 0% 0%;
}
.main-nav--mobile .main-nav__hamburger--mobile span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.main-nav--mobile .brand-name--icon {
  width: 12rem;
}
.main-nav--mobile .main-nav__list--mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  list-style-type: none;
  font-size: 0.35rem;
  /* @include display; */
  position: absolute;
  width: 58vw;
  margin: -15vw 0 0 -2vw;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.main-nav--mobile .main-nav__list--mobile li {
  padding: 10px 0;
  font-size: 22px;
}
.main-nav--mobile .parameters {
  padding: 0 1rem 0 2rem;
  font-size: 1.8rem;
}
.main-nav--mobile .main-nav_container--mobile {
  display: flex;
  align-items: center;
}

.Latestrelease_discography {
  background-color: #e6e6e6;
  padding-top: 5vh;
}

.stack_first-block--Discopraphy {
  padding: 12vh 0;
  background-image: url("../../../../your-resources/banner-img.jpg");
  height: 15vh;
  width: 100vw;
  background-position-x: -143vw;
  background-position-y: 82vh;
  background-size: 385vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.stack_first-block--Discopraphy h1 {
  text-transform: uppercase;
  font-size: 8vw;
  text-shadow: 2px 6px 2px rgba(0, 0, 0, 0.137);
}
.stack_first-block--Discopraphy .main-nav__list {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}
.stack_first-block--Discopraphy .main-nav__list li {
  margin: 3vh 0;
  list-style-type: none;
}
.stack_first-block--Discopraphy .main-nav__list li i {
  font-size: 1.5vw;
  color: rgba(255, 214, 138, 0.808);
}
.stack_first-block--Discopraphy .main-nav__list li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 4vw;
}
.stack_first-block--Discopraphy .main-nav__list li:nth-child(3) {
  opacity: 0.7;
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
}

.gallery__img {
  max-width: 100vw;
  height: auto;
  margin: 0.2rem 0;
}

.gallery--box {
  background-color: hotpink;
}

/*-------------------------------------------------------subscribe------------------------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/your-resources/homepage-footer-background.jpg");
  background-repeat: no-repeat;
  background-position: 31% 80%;
  width: 100vw;
  height: auto;
}

#subscribe .subscribe__title {
  color: white;
  margin: 2rem;
  top: 2rem;
  text-align: center;
}

#subscribe .subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#subscribe .subscribe__form--btn {
  margin: 1rem;
  font-size: 1.5rem;
  width: 90vw;
  height: 10vw;
  border-radius: 0.4rem;
  background-color: #8121e0;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 4rem;
}

#subscribe .subscribe__form--mail {
  width: 90vw;
  height: 10vw;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  padding: 1rem;
}

/*-----------galery--------------*/
#gallery .galery--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
}

#gallery .galery--container img {
  padding: 0;
  margin-top: -4px;
  max-width: 100vw;
  height: auto;
}

/*----------------------------------latest release-----------------------*/
#Latestrelease .Latestrelease__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Latestrelease .Latestrelease__block--texte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

#Latestrelease .Latestrelease__block--texte .Latestrelease__block--title {
  margin: 3rem 0 2rem 0;
}

#Latestrelease .Latestrelease__block--texte .Latestrelease__block--desc {
  color: #444444;
  text-justify: center;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 2.5rem;
  line-height: 2rem;
  font-weight: lighter;
}

#Latestrelease .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#Latestrelease .card .card__image img {
  width: 95vw;
  height: auto;
}

#Latestrelease .card .card__copy {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

#Latestrelease .card p {
  color: #444444;
  padding-top: 0.5rem;
  font-weight: 400;
}

/*--------------------------------------------disco------------------------*/
#listen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../your-resources/homepage-latest-releases-background.jpg");
  background-repeat: no-repeat;
  background-position: 57% 36%;
  width: 100vw;
  height: 80vw;
}

#listen .stack__third-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#listen .stack__third-block .stack__third-block__title {
  text-align: center;
  padding: 1rem;
  color: white;
  font-weight: 600;
}

#listen a {
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin: 1rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  background-color: #8121e0;
  padding: 1rem 3rem;
  cursor: pointer;
}

#Single {
  background-image: url("../../../your-resources/homapage-banner-img.jpg");
  background-repeat: no-repeat;
  background-position: -5vw 0vw;
  background-size: 161vw 51vh;
  height: 46vh;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
}
#Single .stack__first-block {
  margin: 0 0 0 1rem;
}
#Single .stack__first-block .Subtitle {
  font-size: 7vw;
}
#Single .stack__first-block .title {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  font-size: 10vw;
}
#Single .stack__first-block .playbar {
  display: flex;
  align-items: center;
  width: 92vw;
  margin: 9px 0 -24px 0;
  justify-content: space-between;
}
#Single .stack__first-block .playbar .playbar__bar {
  width: 52vw;
  background-color: white;
  opacity: 0.4;
  height: 4px;
}

.stack__second-block__rectangle {
  width: 95vw;
  height: 43vh;
  background-color: #2a2929;
  color: white;
  margin: auto;
  border-radius: 10px;
  position: relative;
  top: -30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3vh;
  margin-bottom: 10vh;
}
.stack__second-block__rectangle .stack__second-block__title {
  text-align: center;
}
.stack__second-block__rectangle .stack__second-block__title .stack__second-block__subtitle {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 8vw;
}
.stack__second-block__rectangle .stack__second-block__title .stack__second-block__description {
  font-size: 4.5vw;
  margin: 0 3vw 0 5vw;
}
.stack__second-block__rectangle .stack__second-block__block {
  justify-content: space-around;
  display: flex;
  width: 77vw;
  text-align: center;
}
.stack__second-block__rectangle .stack__second-block__block .stack__second-block__item .stack__second-block__subtitle {
  font-size: 11vw;
  font-weight: 500;
}
.stack__second-block__rectangle .stack__second-block__block .stack__second-block__item .stack__second-block__description {
  font-weight: 200;
  font-size: 2vw;
  text-transform: uppercase;
  font-size: 2vw;
}
.stack__second-block__rectangle .boutton {
  box-sizing: content-box;
  padding: 1rem;
  background-color: #8121e0;
  color: white;
  display: block;
  width: auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 61vw;
  border-radius: 6px;
  font-weight: 600;
}

.stack__second-block__image {
  overflow: hidden;
  border-radius: 11px;
  width: 95vw;
  margin: auto;
}
.stack__second-block__image img {
  width: 95vw;
}

.stack__second-block__title {
  text-transform: capitalize;
  padding: 0 0 0 3vw;
  margin-top: 6vh;
}

.stack__second-block__comment {
  padding: 0 0 0 3vw;
  width: 95vw;
  color: #444444;
  font-size: 4vw;
}
.stack__second-block__comment .quotation {
  quotes: none;
  position: relative;
  margin: 0 15vh 0 9vh;
  font-size: 5vw;
  /* z-index: 1;
   line-height: 4.5vh;
   font-size: 6vw;*/
  /* &::before {
    content: " '' ";
    color: purple;
    position: relative;
    font-size: 10vh;
    top: 6vh;
    left: 6vw;
    z-index: 0;
    opacity: 0.5;
   }*/
}
.stack__second-block__comment .quotation .quotation--mark {
  color: #8121e0;
  position: absolute;
  font-size: 10vw;
  top: -2vw;
  left: -4vw;
  transform: rotate(28deg);
}

.quotation {
  padding: 0 0 0 0;
  display: block;
}

.galery--container img {
  width: 100vw;
}

#fanbase {
  background-color: #282828;
  color: white;
}
#fanbase .fanbase__galery {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#fanbase .fanbase__galery div .fanbase--galery__img--modified {
  display: flex;
  justify-content: center;
  width: 61vw;
}
#fanbase .fanbase__galery .fanbase-galery_item-3 {
  overflow: hidden;
  height: 11vw;
  transform: rotate(180deg);
}
#fanbase .fanbase__galery .fanbase-galery_item-3 img {
  z-index: 1;
  position: relative;
  width: 78vw;
  transform: rotate(180deg);
}
#fanbase .fanbase__galery .fanbase-galery_item-7 {
  overflow: hidden;
  height: 3vh;
  margin: 0 0 1vw -17vw;
}
#fanbase .fanbase__galery .fanbase-galery_item-4 {
  margin-left: -29vw;
}
#fanbase .fanbase__galery .fanbase-galery_item-4 img {
  z-index: 2;
  position: relative;
  margin-top: -2vh;
  width: 61vw;
}
#fanbase .fanbase__galery .fanbase-galery_item-5 {
  overflow: hidden;
  height: 3vh;
}
#fanbase .fanbase__galery .fanbase-galery_item-2 {
  height: 35.5vh;
}
#fanbase .fanbase__galery .fanbase-galery_item-9 {
  margin-left: 12vw;
}
#fanbase .fanbase__galery .fanbase-galery_item-9 img {
  width: 73vw;
}
#fanbase .fanbase__header {
  margin: 0 10vw 8vw 3vw;
}
#fanbase .fanbase__body {
  text-align: center;
  margin: 0 10vw 0 7vw;
  margin-bottom: 4vh;
  padding-bottom: 6vh;
  padding-top: 0.5rem;
}
#fanbase .fanbase__body .fanbase-list {
  list-style-type: none;
}
#fanbase .fanbase--galery__img-1 {
  width: 78vw;
}
#fanbase .fanbase--galery__img-2 {
  width: 59vw;
}
#fanbase .fanbase--galery__img-3 {
  padding-bottom: 6vh;
  padding-top: 9vh;
  width: 50vw;
}
#fanbase .fanbase--galery__img-4 {
  width: 69vw;
}
#fanbase .fanbase--galery__img-5 {
  width: 89vw;
}
#fanbase img {
  border-radius: 10px;
}

.fanbase-list__body {
  color: white;
  text-align: center;
  padding: 0.5rem;
  padding-bottom: 1rem;
  line-height: 2rem;
}

.fanbase-list__item {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 1rem;
  color: white;
  margin: auto;
  box-sizing: content-box;
}

.fanbase-list__item:last-child {
  padding-bottom: 2rem;
}

.fanbase-list__item::before {
  content: "";
  width: 1rem;
  height: 2rem;
  background: transparent;
  border: 2px solid #8121e0;
  position: absolute;
  left: 40vw;
  top: 0px;
  margin: auto;
  box-sizing: content-box;
}

#tour-schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.5rem;
  margin-top: 2.5rem;
}

.tour-schedule__title {
  font-size: 2.2rem;
  color: black;
  font-weight: 800;
}

#tour-schedule > a {
  text-decoration: none;
  color: white;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 0.8rem;
  transition: 0ms;
  line-height: 2rem;
}

#tour-schedule a:hover {
  opacity: 0.5;
}

#tour-schedule i {
  opacity: 0.9;
  color: #444444;
  font-size: 1.2rem;
}

#tour-schedule > ol, ul, li {
  padding: 0;
  list-style-type: none;
}

#tour-schedule > input {
  display: none;
}

#timeline-content {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.tour-schedule--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  border: 1px solid #282828;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 1rem 1rem 2rem 1rem;
}

.tour-schedule-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #282828;
  width: 100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

@media (min-width: 480px) {
  .tour-schedule-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #282828;
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  .tour-schedule--container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    border: 1px solid #282828;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 1rem 2rem 2rem 2rem;
  }
}
.timeline {
  background: white;
  padding: 1.4rem;
  border-radius: 15px;
  backface-visibility: hidden;
  overflow: hidden;
}

#tour-schedule input {
  display: none;
}

#tour-schedule label {
  display: inline-block;
  padding: 8px;
  margin: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #444444;
  width: 100%;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-out 0.1s;
}

#tour-schedule label:hover {
  color: white;
  cursor: pointer;
}

#tour-schedule input:checked + label {
  background: #282828;
  color: white;
  border-bottom: 6px solid #8121e0;
}

#tour-schedule-nav__item1:checked ~ .timeline #timeline-content,
#tour-schedule-nav__item2:checked ~ .timeline #timeline-content,
#tour-schedule-nav__item3:checked ~ .timeline #timeline-content {
  display: block;
}

.timeline-list__item {
  border-left: 2px solid #444444;
  position: relative;
  padding-left: 1.25rem;
  margin-left: 0.625px;
  padding-bottom: 2rem;
}

.timeline-list__item:before {
  content: "";
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid #444444;
  border-radius: 50%;
  position: absolute;
  left: -13px;
  top: 0px;
}

.timeline-list__item:last-child {
  border: 0px;
  left: 2px;
}

.timeline-list__item:first-child:before {
  border: 2px solid #444444;
  background: #8121e0;
  background-size: 50%;
}

.timeline-list__item > p {
  color: #444444;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.2rem;
  padding-right: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  text-align: justify;
}

.timeline-list__item > h3 {
  font-size: 1.2rem;
  color: #282828;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.timeline-list__item > h4 {
  font-size: 0.8rem;
  color: #444444;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.timeline-list__item__title {
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  max-width: 95%;
}

.timeline-list__item__subtitle {
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
}

.timeline-list__item__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #444444;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  line-height: 1.2rem;
  text-decoration: none;
}

/*---------------------partner ------------------ */
.partners__slider-container > a {
  text-decoration: none;
  color: white;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 0.8rem;
  transition: 0ms;
  line-height: 2rem;
}

.partners__slider-container > a:hover {
  opacity: 0.5;
}

.partners__slider-container > ol, ul, li {
  padding: 0;
  list-style-type: none;
}

.partners__slider-container > input {
  display: none;
}

#partners {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 4rem;
  scrollbar-color: transparent transparent;
  background-image: url("../../../../your-resources/homepage-sponsors-background.jpg");
  background-size: 400%;
  background-position: 50% 30%;
  background-repeat: no-repeat;
}

.partners__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.5rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  height: auto;
  box-sizing: content-box;
}

.partners__title {
  font-size: 2.2rem;
  color: black;
  font-weight: 800;
  text-align: center;
  color: white;
  letter-spacing: 0.1rem;
  padding: 3rem;
}

#partners img {
  max-width: 100%;
}

.partners__slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 8rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-sizing: content-box;
}

.partners__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  box-sizing: content-box;
  z-index: 900;
  width: 100%;
  bottom: 0;
  padding-top: 2rem;
}

.partners__menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #444444;
  border-radius: 50px;
  margin: 1rem;
}

.partners__menu label:hover {
  background: white;
}

.partners__slide {
  display: inline-flex;
  justify-self: center;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  background-size: 25%;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  transition: left 0s 0.75s;
}

[id^=partners__slide]:checked + .partners__slide {
  left: 0;
  z-index: 10;
  transition: left 0.65s ease-out;
}

.partners__slide-1 {
  background-image: url("../../../../logos/banana.svg");
}

.partners__slide-2 {
  background-image: url("../../../../logos/cube.svg");
}

.partners__slide-3 {
  background-image: url("../../../../logos/dance.svg");
}

.partners__slide-4 {
  background-image: url("../../../../logos/web.svg");
}

/* --------------------Tickets -----------------------        */
#tickets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.5rem;
  margin-top: 2rem;
}

.tickets--container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tickets__title {
  font-size: 2.2rem;
  color: black;
  font-weight: 800;
  text-align: center;
  color: #282828;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
  margin: auto;
}

@media (max-width: 480px) {
  .tickets-cards__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: auto;
    width: 100vw;
    height: auto;
  }

  .tickets-cards__slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .tickets-cards__slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100vw;
    height: auto;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tickets-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2.5rem;
    flex-direction: column;
    background: white;
    margin: 2rem 1rem 2rem 1rem;
  }

  .tickets-card__price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 1rem;
  }

  .tickets-card__dollar {
    color: #282828;
    font-weight: 600;
    font-size: 2.2rem;
    padding-top: 1rem;
    margin: 0.2rem;
  }

  .tickets-card__number {
    color: #444444;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 4.2rem;
    padding-top: 2.2rem;
    padding-bottom: 1rem;
    letter-spacing: 0.2rem;
    margin: 0.2rem;
  }

  .tickets-card__body {
    color: #444444;
    font-weight: 300;
    line-height: 2.2rem;
    padding-bottom: 2rem;
  }

  .tickets-card__title {
    color: #444444;
  }

  .tickets-card__button {
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin: 1rem;
    font-size: 0.5rem;
    background-color: white;
    color: #282828;
    font-weight: 600;
    border-radius: 5px;
    width: fit-content;
  }

  button:hover {
    background-color: #8121e0;
    color: white;
  }
}
@media (min-width: 480px) {
  .tickets-cards__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: auto;
    width: 100vw;
    height: auto;
  }

  .tickets-cards__slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .tickets-cards__slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 50vw;
    height: auto;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: #444444 0.1rem solid;
  }

  .tickets-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2.5rem;
    flex-direction: column;
    background: white;
    margin: 2rem 1rem 2rem 1rem;
  }

  .tickets-card__price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 1rem;
  }

  .tickets-card__dollar {
    color: #282828;
    font-weight: 600;
    font-size: 2.2rem;
    padding-top: 1rem;
    margin: 0.2rem;
  }

  .tickets-card__number {
    color: #444444;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 4.2rem;
    padding-top: 2.2rem;
    padding-bottom: 1rem;
    letter-spacing: 0.2rem;
    margin: 0.2rem;
  }

  .tickets-card__body {
    color: #444444;
    font-weight: 300;
    line-height: 2.2rem;
    padding-bottom: 2rem;
  }

  .tickets-card__title {
    color: #444444;
  }

  .tickets-card__button {
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin: 1rem;
    font-size: 0.5rem;
    background-color: white;
    color: #282828;
    font-weight: 600;
    border-radius: 5px;
    width: fit-content;
  }

  button:hover {
    background-color: #8121e0;
    color: white;
  }
}
@media (min-width: 1025px) {
  .tickets-cards__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: auto;
    width: 100vw;
    height: auto;
  }

  .tickets-cards__slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .tickets-cards__slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 33vw;
    height: auto;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: #444444 0.1rem solid;
  }

  .tickets-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2.5rem;
    flex-direction: column;
    background: white;
    margin: 2rem 1rem 2rem 1rem;
  }

  .tickets-card__price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 1rem;
  }

  .tickets-card__dollar {
    color: #282828;
    font-weight: 600;
    font-size: 2.2rem;
    padding-top: 1rem;
    margin: 0.2rem;
  }

  .tickets-card__number {
    color: #444444;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 4.2rem;
    padding-top: 2.2rem;
    padding-bottom: 1rem;
    letter-spacing: 0.2rem;
    margin: 0.2rem;
  }

  .tickets-card__body {
    color: #444444;
    font-weight: 300;
    line-height: 2.2rem;
    padding-bottom: 2rem;
  }

  .tickets-card__title {
    color: #444444;
  }

  .tickets-card__button {
    text-align: center;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    font-size: 0.8rem;
    background-color: white;
    color: #282828;
    font-weight: 600;
    border-radius: 5px;
    width: fit-content;
  }

  button:hover {
    background-color: #8121e0;
    color: white;
  }
}
/* ------------------- news --------------------------*/
#news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.5rem;
  margin-top: 2.5rem;
}

#news a:hover {
  color: white;
}

.news--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

#news .news__card--link {
  font-size: 0.8rem;
}

@media (max-width: 480px) {
  .news-cards__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: auto;
    width: 100vw;
    height: auto;
  }

  .news-cards__slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .news-cards__slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100vw;
    height: auto;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    font-size: 0.5rem;
    flex-direction: column;
    justify-content: center;
  }

  .news__card {
    padding: 0 1rem 1rem 0.5rem;
  }

  .news__card--body {
    padding: 1rem 1rem 1rem 2rem;
    text-align: left;
  }

  .news__card--title {
    padding: 1rem 1rem 0.5rem 2rem;
    line-height: 2rem;
    font-weight: 300;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .news__title {
    text-align: center;
    padding: 0.5rem;
    padding-top: 1rem;
    font-size: 2rem;
  }

  .news__card--date {
    width: max-content;
    background-color: #8121e0;
    background-size: auto;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 0.3rem;
    color: white;
    font-weight: 900;
    font-size: 0.8rem;
  }

  #news .news__card--link {
    width: 100%;
    align-self: left;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: 500;
    color: #282828;
    line-height: 4rem;
  }

  .news__card:hover {
    background-image: url("your-resources/homepage-news-background.jpg");
    color: white;
    border-radius: 5px;
    background-size: 400%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    margin: auto;
    width: 100vw;
  }

  #news .news__card:hover .news__card--link {
    color: white;
    margin: auto;
  }

  .news__card:hover .news__card--link > i {
    color: white;
    margin: auto;
  }
}
@media (min-width: 480px) {
  .news-cards__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: auto;
    width: 100vw;
    height: auto;
  }

  .news-cards__slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .news-cards__slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 50vw;
    height: fit-content;
    font-size: 0.8rem;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .news__card {
    padding: 0 1rem 0rem 1rem;
  }

  .news__card--body {
    padding: 1rem 2rem 1rem 2rem;
    text-align: left;
    height: 9rem;
    line-height: normal;
    font-size: 1rem;
  }

  .news__card--title {
    padding: 2rem 2rem 1rem 2rem;
    line-height: 2rem;
    font-weight: 300;
    max-width: 100%;
    font-size: 1.2rem;
    height: 8rem;
    font-weight: 700;
  }

  .news__title {
    text-align: center;
    padding: 0.5rem;
    padding-top: 1rem;
    font-size: 1.8rem;
  }

  .news__card--date {
    width: max-content;
    background-color: #8121e0;
    background-size: auto;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 0.3rem;
    color: white;
    font-weight: 900;
    font-size: 0.8rem;
  }

  #news .news__card--link {
    width: 100%;
    align-self: left;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: 500;
    color: #282828;
    line-height: 4rem;
  }

  .news__card:hover {
    background-image: url("your-resources/homepage-news-background.jpg");
    color: white;
    border-radius: 5px;
    background-size: 400%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    margin: auto;
    width: 50vw;
  }

  #news .news__card:hover .news__card--link {
    color: white;
    margin: auto;
  }

  .news__card:hover .news__card--link > i {
    color: white;
    margin: auto;
  }
}
@media (min-width: 1025px) {
  .news-cards__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: auto;
    width: 100vw;
    height: auto;
  }

  .news-cards__slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .news-cards__slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 33vw;
    height: fit-content;
    font-size: 0.8rem;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .news__card {
    padding: 0 1rem 0rem 1rem;
  }

  .news__card--body {
    padding: 1rem 2rem 1rem 2rem;
    text-align: left;
    height: 9rem;
    line-height: normal;
    font-size: 1rem;
  }

  .news__card--title {
    padding: 2rem 2rem 1rem 2rem;
    line-height: 2rem;
    font-weight: 300;
    max-width: 100%;
    font-size: 1.2rem;
    height: 8rem;
    font-weight: 700;
  }

  .news__title {
    text-align: center;
    padding: 0.5rem;
    padding-top: 1rem;
    font-size: 1.8rem;
  }

  .news__card--date {
    width: max-content;
    background-color: #8121e0;
    background-size: auto;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 0.3rem;
    color: white;
    font-weight: 900;
    font-size: 0.8rem;
  }

  #news .news__card--link {
    width: 100%;
    align-self: left;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: 500;
    color: #282828;
    line-height: 4rem;
  }

  .news__card:hover {
    background-image: url("../../../../your-resources/homepage-news-background.jpg");
    color: white;
    border-radius: 5px;
    background-size: 400%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    margin: auto;
    width: 33vw;
  }

  #news .news__card:hover .news__card--link {
    color: white;
    margin: auto;
  }

  .news__card:hover .news__card--link > i {
    color: white;
    margin: auto;
  }
}
.tour-schedule__title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background-size: 400%;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100vw;
  height: fit-content;
}

.tour-schedule__title > h1 {
  font-size: 1.5rem;
  color: white;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 480px) {
  .tour-schedule__title > h1 {
    font-size: 1.8rem;
    color: white;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
  }
}
.tour-schedule__mininav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 0.8rem;
  color: white;
  font-family: "Poppins", sans-serif;
}

.tour-schedule__home {
  font-weight: 500;
  padding: 1rem;
}

.tour-schedule__faded {
  opacity: 0.5;
  padding: 1rem;
}

#tour-schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.5rem;
  margin-top: 2.5rem;
}

#tour-schedule > a {
  text-decoration: none;
  color: white;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 0.8rem;
  transition: 0ms;
  line-height: 2rem;
}

#tour-schedule a:hover {
  opacity: 0.5;
}

#tour-schedule > ol, ul, li {
  padding: 0;
  list-style-type: none;
}

#tour-schedule > input {
  display: none;
}

#tour-schedule i {
  opacity: 0.9;
  color: #444444;
  font-size: 1.2rem;
}

#timeline-content {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.tour-schedule--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  border: 1px solid #282828;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 1rem 1rem 2rem 1rem;
}

.tour-schedule-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #282828;
  width: 100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

@media (min-width: 480px) {
  .tour-schedule-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #282828;
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  .tour-schedule--container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    border: 1px solid #282828;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 1rem 2rem 2rem 2rem;
  }

  .tour-schedule__title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background-image: url("your-resources/banner-img.jpg");
    background-size: 400%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    padding-bottom: 0.5rem;
    width: 100vw;
    height: 35vh;
    margin-bottom: 5rem;
  }
}
.timeline {
  background: white;
  padding: 1.4rem;
  border-radius: 15px;
  backface-visibility: hidden;
  overflow: hidden;
}

#tour-schedule input {
  display: none;
}

#tour-schedule label {
  display: inline-block;
  padding: 8px;
  margin: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #444444;
  width: 100%;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-out 0.1s;
}

#tour-schedule label:hover {
  color: white;
  cursor: pointer;
}

#tour-schedule input:checked + label {
  background: #282828;
  color: white;
  border-bottom: 6px solid #8121e0;
}

#tour-schedule-nav__item1:checked ~ .timeline #timeline-content,
#tour-schedule-nav__item2:checked ~ .timeline #timeline-content,
#tour-schedule-nav__item3:checked ~ .timeline #timeline-content {
  display: block;
}

.timeline-list__item {
  border-left: 2px solid #444444;
  position: relative;
  padding-left: 1.25rem;
  margin-left: 0.625px;
  padding-bottom: 2rem;
}

.timeline-list__item:before {
  content: "";
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid #444444;
  border-radius: 50%;
  position: absolute;
  left: -13px;
  top: 0px;
}

.timeline-list__item:last-child {
  border: 0px;
  left: 2px;
}

.timeline-list__item:first-child:before {
  border: 2px solid #444444;
  background: #8121e0;
  background-size: 50%;
}

.timeline-list__item > p {
  color: #444444;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.2rem;
  padding-right: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  text-align: justify;
}

.timeline-list__item > h3 {
  font-size: 1.2rem;
  color: #282828;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.timeline-list__item > h4 {
  font-size: 0.8rem;
  color: #444444;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.timeline-list__item__title {
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  max-width: 95%;
}

.timeline-list__item__subtitle {
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
}

.timeline-list__item__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #444444;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  line-height: 1.2rem;
  text-decoration: none;
}

@media (min-width: 480px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #282828;
    margin: 0px;
    padding: 2rem;
  }

  footer .brand-name {
    margin-bottom: 1rem;
  }

  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer .social__footer {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  .footer li {
    color: white;
    text-decoration: none;
  }

  footer .relative-link__footer {
    display: flex;
    flex-direction: row;
  }

  .social__footer--item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
  }

  .relative-link__footer--item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 0.5rem;
  }

  .relative-link__footer--item a {
    color: white;
    text-decoration: none;
  }

  .social__footer--item a {
    color: white;
  }

  .footer__upbtn {
    position: fixed;
    right: 0;
    bottom: 0;
    color: white;
    background-color: #8121e0;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    scroll-behavior: smooth;
  }

  footer .footer__copyright {
    color: #444444;
    font-size: 0.9rem;
  }

  .header {
    max-width: 1020px;
    width: 100vw;
  }

  .main-nav--mobile .parameters {
    padding: 0 2rem 0 3rem;
  }

  .stack_first-block--Discopraphy {
    height: 30vh;
  }
  .stack_first-block--Discopraphy h1 {
    font-size: 4vw;
  }
  .stack_first-block--Discopraphy .main-nav__list {
    width: 32vw;
  }
  .stack_first-block--Discopraphy .main-nav__list li i {
    font-size: 1.2vw;
  }
  .stack_first-block--Discopraphy .main-nav__list li a {
    text-transform: uppercase;
    font-size: 2vw;
  }
  .stack_first-block--Discopraphy .main-nav__list li:nth-child(3) {
    opacity: 0.7;
  }

  .Latestrelease_discography .Latestrelease__block {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row !important;
  }

  .main-nav__logo {
    margin-left: 1vw;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(29vw, 1fr));
    gap: 1rem;
    margin: 1rem;
    align-self: center;
    align-content: center;
    justify-content: center;
  }

  .gallery--box {
    width: 30vw;
  }

  .gallery__img {
    width: 30vw;
  }

  #subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/your-resources/homepage-footer-background.jpg");
    background-repeat: no-repeat;
    background-position: 31% 80%;
    width: 100vw;
    height: auto;
  }

  #subscribe .subscribe__title {
    color: white;
    margin-top: 3rem;
    text-align: center;
  }

  #subscribe .subscribe__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }

  #subscribe .subscribe__form--btn {
    margin: 1rem;
    font-size: 1.5rem;
    width: 20vw;
    height: 7vw;
    border-radius: 0.4rem;
    background-color: #8121e0;
    border: none;
    cursor: pointer;
  }

  #subscribe .subscribe__form--mail {
    width: 50vw;
    height: 7vw;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    padding: 1rem;
  }

  /* --------------------recent news--------------*/
  #news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 3rem 0.5rem;
  }

  #news .news__carousel {
    display: flex;
    flex-direction: row;
  }

  #news .news__title {
    margin: 4rem auto;
    padding: 4rem auto;
  }

  #news .news__block {
    padding: 0 4rem 3rem 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  #news .news__block:hover {
    background-image: url("/your-resources/homepage-news-background.jpg");
    background-repeat: no-repeat;
    color: white;
  }

  #news .news__block--date {
    width: max-content;
    background-color: #8121e0;
    background-size: auto;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.3rem;
    color: white;
    font-weight: 900;
  }

  #news .news__block--title {
    line-height: 1.8rem;
    font-weight: 300;
    margin: 1rem 0 1rem 0;
  }

  #news .news__block--info {
    line-height: 1.8rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  #news a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
  }

  /*---------------------------gallery--------------------*/
  #gallery .galery--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
  }

  #gallery .galery--container img {
    max-width: 25vw;
    height: auto;
  }

  /*-----------ticket--------------*/
  #tickets {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  #tickets .tickets--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
  }

  #tickets .tickets__title {
    margin-bottom: 3rem;
  }

  #tickets .tickets-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
  }

  #tickets .tickets-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 0.1px solid #444444;
    padding: 1rem;
    margin: 1rem;
  }

  #tickets .tickets-card__title {
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }

  #tickets .tickets-card__price {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
  }

  #tickets .tickets-card__dollar {
    font-weight: 800;
    position: relative;
    top: 10px;
  }

  #tickets .tickets-card__number {
    font-size: 3rem;
    font-weight: 400;
  }

  #tickets .tickets-card__body ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #444444;
  }

  #tickets .tickets-card__body ul li {
    padding: 0.2rem;
    margin: 0.2rem;
  }

  #tickets .tickets-card__button {
    margin-top: 1rem;
    padding: 1rem 2rem 1rem 2em;
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
  }

  #tickets .tickets-card__button:hover {
    color: white;
    background: #8121e0;
    border: #8121e0;
    cursor: pointer;
  }

  /*----------------------------------latest release-----------------------*/
  #Latestrelease .Latestrelease__block {
    display: grid;
    grid-template-columns: 2, minmax(auto, 50vw);
  }

  #Latestrelease .Latestrelease__block--texte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }

  #Latestrelease .Latestrelease__block--texte .Latestrelease__block--title {
    margin: 3rem 0 2rem 0;
  }

  #Latestrelease .Latestrelease__block--texte .Latestrelease__block--desc {
    color: #444444;
    text-justify: center;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 2.5rem;
    line-height: 2rem;
    font-weight: lighter;
  }

  #Latestrelease .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 45vw;
    height: auto;
  }

  #Latestrelease .card .card__image img {
    max-width: 42vw;
    height: auto;
  }

  #Latestrelease .card .card__copy {
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }

  #Latestrelease .card p {
    color: #444444;
    padding-top: 0.5rem;
    font-weight: 400;
    font-size: 1.5rem;
  }

  /*--------------------------------------------disco------------------------*/
  #listen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/your-resources/homepage-latest-releases-background.jpg");
    background-repeat: no-repeat;
    background-position: 57% 36%;
    width: 100vw;
    height: 40vw;
  }

  #listen .stack__third-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #listen .stack__third-block .stack__third-block__title {
    text-align: center;
    padding: 1rem;
    color: white;
    font-weight: 600;
  }

  #listen a {
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: white;
    margin: 1rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    background-color: #8121e0;
    padding: 1rem 3rem;
    cursor: pointer;
  }
}
@media (min-width: 1025px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #282828;
    margin: 0px;
    padding: 2rem;
  }

  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer .social__footer {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  .footer li {
    color: white;
    text-decoration: none;
  }

  footer .relative-link__footer {
    display: flex;
    flex-direction: row;
  }

  .social__footer--item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
  }

  .relative-link__footer--item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 0.5rem;
  }

  .relative-link__footer--item a {
    color: white;
    text-decoration: none;
  }

  .social__footer--item a {
    color: white;
  }

  .footer__upbtn {
    position: fixed;
    right: 0;
    bottom: 0;
    color: white;
    background-color: #8121e0;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    scroll-behavior: smooth;
  }

  footer .footer__copyright {
    color: #444444;
    font-size: 0.9rem;
  }

  .main-nav--mobile {
    display: none;
  }

  .main-nav {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    width: 85vw;
    color: white;
  }
  .main-nav .main-nav__logo {
    margin-top: 2vh;
  }
  .main-nav .main-nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    justify-content: space-evenly;
    width: 50vw;
  }
  .main-nav .main-nav__list li a {
    text-decoration: none;
    color: white;
  }
  .main-nav .main-nav__list-social {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    justify-content: space-evenly;
    width: 13vw;
  }
  .main-nav .main-nav__list-social li a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
  }
  .main-nav .main-nav__hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
  }

  .stack_first-block--Discopraphy {
    padding-top: 10rem;
    padding-bottom: 10.5rem;
  }
  .stack_first-block--Discopraphy h1 {
    font-size: 2vw;
  }
  .stack_first-block--Discopraphy .main-nav__list {
    width: 16vw;
  }
  .stack_first-block--Discopraphy .main-nav__list .main-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stack_first-block--Discopraphy .main-nav__list .main-nav__item a {
    font-size: 1vw;
  }
  .stack_first-block--Discopraphy .main-nav__list .main-nav__item i {
    font-size: 0.5vw;
  }

  .stack_first-block--Discopraphy {
    background-position-x: -9vw;
    background-position-y: -30vh;
    background-size: 120vw 163vh;
    background-repeat: no-repeat;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22vw, 1fr));
    gap: 1rem;
    margin: 1rem;
  }

  .gallery--box {
    width: 22vw;
  }

  .gallery__img {
    width: 22vw;
  }

  #Single {
    background-size: 104vw 226vh;
    height: 46rem;
    justify-content: center;
  }
  #Single .stack__first-block .Subtitle {
    font-size: 3vw;
  }
  #Single .stack__first-block .playbar {
    width: 69vw;
  }
  #Single .stack__first-block .playbar .playbar__bar {
    width: 59vw;
  }

  #nextgig .stack__second-block__subtitle {
    font-size: 2vw;
  }
  #nextgig .stack__second-block__description {
    font-size: 1vw;
    margin: 0;
  }
  #nextgig .stack__second-block__rectangle {
    flex-direction: row;
  }
  #nextgig .boutton {
    width: 36vw;
    margin-right: 3vw;
  }

  #about {
    display: grid;
    grid-template-columns: 50vw 50vw;
    margin: 8rem 0;
  }
  #about .stack__second-block__image {
    width: 40vw;
    grid-column: 1/1;
  }
  #about .stack__second-block__image img {
    width: 40vw;
  }
  #about .stack__second-block__title {
    grid-column: 2/2;
    grid-row: 1/1;
  }
  #about .stack__second-block__comment {
    grid-column: 2/2;
    font-SIZE: 1vw;
    display: block;
    width: 45vw;
    grid-row: 1/1;
    margin-top: 6rem;
  }
  #about .stack__second-block__comment q {
    font-SIZE: 2vw;
    margin: 1rem 0;
  }
  #about .stack__second-block__comment q span {
    font-size: 11vw;
    top: -3vw;
    left: -2vw;
    opacity: 0.35;
  }

  #fanbase {
    padding: 8vw 0;
    display: grid;
    grid-template-columns: 50vw 50vw;
  }
  #fanbase .fanbase-galery_item-5, #fanbase .fanbase-galery_item-3, #fanbase .fanbase-galery_item-7 {
    display: none;
  }
  #fanbase .fanbase-galery_item-3 {
    overflow: hidden;
    height: 11vw;
    transform: rotate(180deg);
  }
  #fanbase .fanbase-galery_item-3 img {
    z-index: 1;
    position: static;
    width: 78vw;
    transform: rotate(180deg);
  }
  #fanbase .fanbase-galery_item-7 {
    overflow: hidden;
    height: 3vh;
  }
  #fanbase .fanbase-galery_item-7 img {
    width: 14vw;
  }
  #fanbase .fanbase-galery_item-4 img {
    z-index: 2;
    position: static;
    margin-top: 0;
    width: 14vw;
  }
  #fanbase .fanbase-galery_item-2 img {
    z-index: 2;
    position: static;
    margin-top: -2vh;
    width: 14vw;
  }
  #fanbase .fanbase-galery_item-5 {
    overflow: hidden;
    height: 3vh;
  }
  #fanbase .fanbase-galery_item-5 img {
    width: 14vw;
  }
  #fanbase .fanbase-galery_item-2 {
    height: 35.5vh;
  }
  #fanbase .fanbase-galery_item-2 img {
    width: 14vw;
  }
  #fanbase .fanbase-galery_item-9 {
    margin-left: 12vw;
  }
  #fanbase .fanbase-galery_item-9 img {
    width: 14vw;
  }
  #fanbase div[class^=fanbase-galery_item] img, #fanbase div[class*=fanbase-galery_item] img {
    position: static !important;
    width: 14vw !important;
  }
  #fanbase div img {
    width: 14vw !important;
  }
  #fanbase .fanbase__header {
    grid-column: 2/2;
    grid-row: 1/1;
  }
  #fanbase .fanbase__body {
    grid-column: 2/2;
    grid-row: 1/1;
    margin-top: 9vw;
  }

  #tour-schedule {
    margin-top: 0;
  }

  .fanbase-list__item:before {
    content: "";
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 2px solid #8121e0;
    position: absolute;
    left: 16vw;
    top: 0px;
    margin: auto;
    box-sizing: content-box;
  }
}

/*# sourceMappingURL=style.css.map */
