.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #282828;
  margin: 0px;
  padding: 2rem;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .social__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
}

.footer li {
  color: white;
  text-decoration: none;
}

.social__footer--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #444444;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1rem;
}

.relative-link__footer--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  margin: 0.5rem;
}

.relative-link__footer--item a {
  color: white;
  text-decoration: none;
}

.social__footer--item a {
  color: white;
}

.footer__upbtn {
  position: fixed;
  right: 0;
  bottom: 0;
  color: white;
  background-color: #8121e0;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  scroll-behavior: smooth;
}

footer .footer__copyright {
  color: #444444;
  font-size: 0.9rem;
}

/*-------------------------------------------------------subscribe------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/your-resources/homepage-footer-background.jpg");
  background-repeat: no-repeat;
  background-position: 31% 80%;
  width: 100vw;
  height: auto;
}

#subscribe .subscribe__title {
  color: white;
  margin: 2rem;
  top: 2rem;
  text-align: center;
}

#subscribe .subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#subscribe .subscribe__form--btn {
  margin: 1rem;
  font-size: 1.5rem;
  width: 90vw;
  height: 10vw;
  border-radius: 0.4rem;
  background-color: #8121e0;
  border: none;
  cursor: pointer;
  margin-bottom: 4rem;
}

#subscribe .subscribe__form--mail {
  width: 90vw;
  height: 10vw;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  padding: 1rem;
}

/* --------------------recent news--------------*/
#news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: auto;
}

#news .news__title {
  margin: 4rem auto;
  padding: 4rem auto;
}

#news .news__block {
  padding: 0 4rem 3rem 0.5rem;
}

.news__block--date {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #8121e0;
  background-size: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.3rem;
  color: white;
  font-weight: 900;
}

#news .news__block--title {
  line-height: 1.8rem;
  font-weight: 300;
  margin: 1rem 0 1rem 0;
}

#news .news__block--info {
  line-height: 1.8rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

#news a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

/*-----------galery--------------*/
#gallery .galery--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: auto;
}

#gallery .galery--container img {
  padding: 0;
  margin-top: -4px;
  max-width: 100vw;
  height: auto;
}

/*-----------ticket--------------*/
#tickets {
  width: 100vw;
  height: auto;
}

#tickets .tickets--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

#tickets .tickets__title {
  margin-bottom: 3rem;
}

#tickets .tickets-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tickets .tickets-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tickets .tickets-card__title {
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

#tickets .tickets-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#tickets .tickets-card__dollar {
  font-weight: 800;
  position: relative;
  top: 10px;
}

#tickets .tickets-card__number {
  font-size: 3rem;
  font-weight: 400;
}

#tickets .tickets-card__body ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #444444;
}

#tickets .tickets-card__body ul li {
  padding: 0.2rem;
  margin: 0.2rem;
}

#tickets .tickets-card__button {
  margin-top: 1rem;
  padding: 1rem 2rem 1rem 2em;
  background-color: white;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
}

#tickets .tickets-card__button:hover {
  color: white;
  background: #8121e0;
  border: #8121e0;
  cursor: pointer;
}

/*----------------------------------latest release-----------------------*/
#Latestrelease .Latestrelease__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Latestrelease .Latestrelease__block--texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

#Latestrelease .Latestrelease__block--texte .Latestrelease__block--title {
  margin: 3rem 0 2rem 0;
}

#Latestrelease .Latestrelease__block--texte .Latestrelease__block--desc {
  color: #444444;
  text-justify: center;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 2.5rem;
  line-height: 2rem;
  font-weight: lighter;
}

#Latestrelease .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

#Latestrelease .card .card__image img {
  width: 95vw;
  height: auto;
}

#Latestrelease .card .card__copy {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

#Latestrelease .card p {
  color: #444444;
  padding-top: 0.5rem;
  font-weight: 400;
}

/*--------------------------------------------disco------------------------*/
#listen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/your-resources/homepage-latest-releases-background.jpg");
  background-repeat: no-repeat;
  background-position: 57% 36%;
  width: 100vw;
  height: 80vw;
}

#listen .stack__third-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#listen .stack__third-block .stack__third-block__title {
  text-align: center;
  padding: 1rem;
  color: white;
  font-weight: 600;
}

#listen a {
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin: 1rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  background-color: #8121e0;
  padding: 1rem 3rem;
  cursor: pointer;
}

@media (min-width: 720px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #282828;
    margin: 0px;
    padding: 2rem;
  }
  footer .brand-name {
    margin-bottom: 1rem;
  }
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer .social__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem;
  }
  .footer li {
    color: white;
    text-decoration: none;
  }
  footer .relative-link__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social__footer--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #444444;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
  }
  .relative-link__footer--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1rem;
    margin: 0.5rem;
  }
  .relative-link__footer--item a {
    color: white;
    text-decoration: none;
  }
  .social__footer--item a {
    color: white;
  }
  .footer__upbtn {
    position: fixed;
    right: 0;
    bottom: 0;
    color: white;
    background-color: #8121e0;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    scroll-behavior: smooth;
  }
  footer .footer__copyright {
    color: #444444;
    font-size: 0.9rem;
  }
  #subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("/your-resources/homepage-footer-background.jpg");
    background-repeat: no-repeat;
    background-position: 31% 80%;
    width: 100vw;
    height: auto;
  }
  #subscribe .subscribe__title {
    color: white;
    margin-top: 3rem;
    text-align: center;
  }
  #subscribe .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 3rem;
  }
  #subscribe .subscribe__form--btn {
    margin: 1rem;
    font-size: 1.5rem;
    width: 20vw;
    height: 7vw;
    border-radius: 0.4rem;
    background-color: #8121e0;
    border: none;
    cursor: pointer;
  }
  #subscribe .subscribe__form--mail {
    width: 50vw;
    height: 7vw;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    padding: 1rem;
  }
  /* --------------------recent news--------------*/
  #news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: auto;
    padding: 3rem 0.5rem;
  }
  #news .news__carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #news .news__title {
    margin: 4rem auto;
    padding: 4rem auto;
  }
  #news .news__block {
    padding: 0 4rem 3rem 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  #news .news__block:hover {
    background-image: url("/your-resources/homepage-news-background.jpg");
    background-repeat: no-repeat;
    color: white;
  }
  #news .news__block--date {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: #8121e0;
    background-size: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.3rem;
    color: white;
    font-weight: 900;
  }
  #news .news__block--title {
    line-height: 1.8rem;
    font-weight: 300;
    margin: 1rem 0 1rem 0;
  }
  #news .news__block--info {
    line-height: 1.8rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }
  #news a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
  }
  /*---------------------------gallery--------------------*/
  #gallery .galery--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
  }
  #gallery .galery--container img {
    max-width: 25vw;
    height: auto;
  }
  /*-----------ticket--------------*/
  #tickets {
    width: 100vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #tickets .tickets--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3rem 0;
  }
  #tickets .tickets__title {
    margin-bottom: 3rem;
  }
  #tickets .tickets-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
  }
  #tickets .tickets-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 0.1px solid #444444;
    padding: 1rem;
    margin: 1rem;
  }
  #tickets .tickets-card__title {
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }
  #tickets .tickets-card__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  #tickets .tickets-card__dollar {
    font-weight: 800;
    position: relative;
    top: 10px;
  }
  #tickets .tickets-card__number {
    font-size: 3rem;
    font-weight: 400;
  }
  #tickets .tickets-card__body ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #444444;
  }
  #tickets .tickets-card__body ul li {
    padding: 0.2rem;
    margin: 0.2rem;
  }
  #tickets .tickets-card__button {
    margin-top: 1rem;
    padding: 1rem 2rem 1rem 2em;
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
  }
  #tickets .tickets-card__button:hover {
    color: white;
    background: #8121e0;
    border: #8121e0;
    cursor: pointer;
  }
  /*----------------------------------latest release-----------------------*/
  #Latestrelease .Latestrelease__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2, minmax(auto, 50vw);
        grid-template-columns: 2, minmax(auto, 50vw);
  }
  #Latestrelease .Latestrelease__block--texte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: center;
  }
  #Latestrelease .Latestrelease__block--texte .Latestrelease__block--title {
    margin: 3rem 0 2rem 0;
  }
  #Latestrelease .Latestrelease__block--texte .Latestrelease__block--desc {
    color: #444444;
    text-justify: center;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 2.5rem;
    line-height: 2rem;
    font-weight: lighter;
  }
  #Latestrelease .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
    max-width: 45vw;
    height: auto;
  }
  #Latestrelease .card .card__image img {
    max-width: 40vw;
    height: auto;
  }
  #Latestrelease .card .card__copy {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  #Latestrelease .card p {
    color: #444444;
    padding-top: 0.5rem;
    font-weight: 400;
  }
  /*--------------------------------------------disco------------------------*/
  #listen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("/your-resources/homepage-latest-releases-background.jpg");
    background-repeat: no-repeat;
    background-position: 57% 36%;
    width: 100vw;
    height: 40vw;
  }
  #listen .stack__third-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #listen .stack__third-block .stack__third-block__title {
    text-align: center;
    padding: 1rem;
    color: white;
    font-weight: 600;
  }
  #listen a {
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: white;
    margin: 1rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    background-color: #8121e0;
    padding: 1rem 3rem;
    cursor: pointer;
  }
}

@media (min-width: 1025px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #282828;
    margin: 0px;
    padding: 2rem;
  }
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer .social__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem;
  }
  .footer li {
    color: white;
    text-decoration: none;
  }
  footer .relative-link__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social__footer--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #444444;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
  }
  .relative-link__footer--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1rem;
    margin: 0.5rem;
  }
  .relative-link__footer--item a {
    color: white;
    text-decoration: none;
  }
  .social__footer--item a {
    color: white;
  }
  .footer__upbtn {
    position: fixed;
    right: 0;
    bottom: 0;
    color: white;
    background-color: #8121e0;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    scroll-behavior: smooth;
  }
  footer .footer__copyright {
    color: #444444;
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=styles.css.map */