* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.main-nav {
  display: none;
}

.hidden {
  display: none;
}

.header {
  max-width: 480px;
  width: 100vw;
}

.main-nav--mobile {
  display: flex;
  background-color: #282828;
  flex-direction: row;
  font-size: 0.5rem;
  justify-content: start;
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
.main-nav--mobile .main-nav__hamburger--mobile {
  margin: 0 0.6rem 0 0.5rem;
  font-size: 2rem;
}
.main-nav--mobile .main-nav__hamburger--mobile input {
  display: block;
  width: 9vw;
  height: 5vh;
  position: absolute;
  top: 4vw;
  left: 1vw;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
}
.main-nav--mobile .main-nav__hamburger--mobile input:checked ~ ul {
  transform: none;
}
.main-nav--mobile .main-nav__hamburger--mobile input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
.main-nav--mobile .main-nav__hamburger--mobile input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.main-nav--mobile .main-nav__hamburger--mobile input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.main-nav--mobile .main-nav__hamburger--mobile span {
  display: block;
  width: 8vw;
  height: 0.5vh;
  margin-bottom: 1vh;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 3;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.main-nav--mobile .main-nav__hamburger--mobile span:first-child {
  transform-origin: 0% 0%;
}
.main-nav--mobile .main-nav__hamburger--mobile span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.main-nav--mobile .brand-name--icon {
  width: 12rem;
}
.main-nav--mobile .main-nav__list--mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  list-style-type: none;
  font-size: 0.35rem;
  /* @include display; */
  position: absolute;
  width: 58vw;
  margin: -15vw 0 0 -2vw;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.main-nav--mobile .main-nav__list--mobile li {
  padding: 10px 0;
  font-size: 22px;
}
.main-nav--mobile .parameters {
  padding: 0 1rem 0 2rem;
  font-size: 1.8rem;
}
.main-nav--mobile .main-nav_container--mobile {
  display: flex;
  align-items: center;
}

#Single {
  background-image: url("../../../your-resources/homapage-banner-img.jpg");
  background-repeat: no-repeat;
  background-position: -5vw 0vw;
  background-size: 161vw 51vh;
  height: 46vh;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
}
#Single .stack__first-block {
  margin: 0 0 0 1rem;
}
#Single .stack__first-block .Subtitle {
  font-size: 7vw;
}
#Single .stack__first-block .title {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  font-size: 10vw;
}
#Single .stack__first-block .playbar {
  display: flex;
  align-items: center;
  width: 92vw;
  margin: 9px 0 -24px 0;
  justify-content: space-between;
}
#Single .stack__first-block .playbar .playbar__bar {
  width: 52vw;
  background-color: white;
  opacity: 0.4;
  height: 4px;
}

.stack__second-block__rectangle {
  width: 95vw;
  height: 43vh;
  background-color: #2a2929;
  color: white;
  margin: auto;
  border-radius: 10px;
  position: relative;
  top: -30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3vh;
  margin-bottom: 10vh;
}
.stack__second-block__rectangle .stack__second-block__title {
  text-align: center;
}
.stack__second-block__rectangle .stack__second-block__title .stack__second-block__subtitle {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 8vw;
}
.stack__second-block__rectangle .stack__second-block__title .stack__second-block__description {
  font-size: 4.5vw;
  margin: 0 3vw 0 5vw;
}
.stack__second-block__rectangle .stack__second-block__block {
  justify-content: space-around;
  display: flex;
  width: 77vw;
  text-align: center;
}
.stack__second-block__rectangle .stack__second-block__block .stack__second-block__item .stack__second-block__subtitle {
  font-size: 11vw;
  font-weight: 500;
}
.stack__second-block__rectangle .stack__second-block__block .stack__second-block__item .stack__second-block__description {
  font-weight: 200;
  font-size: 2vw;
  text-transform: uppercase;
  font-size: 2vw;
}
.stack__second-block__rectangle .boutton {
  box-sizing: content-box;
  padding: 1rem;
  background-color: #8121e0;
  color: white;
  display: block;
  width: auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 61vw;
  border-radius: 6px;
  font-weight: 600;
}

.stack__second-block__image {
  overflow: hidden;
  border-radius: 11px;
  width: 95vw;
  margin: auto;
}

.stack__second-block__title {
  text-transform: capitalize;
  padding: 0 0 0 3vw;
  margin-top: 6vh;
}

.stack__second-block__comment {
  padding: 0 0 0 3vw;
  width: 95vw;
  color: #444444;
  font-size: 4vw;
}
.stack__second-block__comment .quotation {
  quotes: none;
  position: relative;
  margin: 0 15vh 0 9vh;
  font-size: 5vw;
  /* z-index: 1;
   line-height: 4.5vh;
   font-size: 6vw;*/
  /* &::before {
    content: " '' ";
    color: purple;
    position: relative;
    font-size: 10vh;
    top: 6vh;
    left: 6vw;
    z-index: 0;
    opacity: 0.5;
   }*/
}
.stack__second-block__comment .quotation .quotation--mark {
  color: #8121e0;
  position: absolute;
  font-size: 10vw;
  top: -2vw;
  left: -4vw;
  transform: rotate(28deg);
}

.quotation {
  padding: 0 0 0 0;
  display: block;
}

.galery--container img {
  width: 100vw;
}

#fanbase {
  background-color: #282828;
  color: white;
}
#fanbase p {
  color: #444444;
}
#fanbase .fanbase__galery {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#fanbase .fanbase__galery div .fanbase--galery__img--modified {
  display: flex;
  justify-content: center;
  width: 61vw;
}
#fanbase .fanbase__galery .fanbase-galery_item-3 {
  overflow: hidden;
  height: 11vw;
  transform: rotate(180deg);
}
#fanbase .fanbase__galery .fanbase-galery_item-3 img {
  z-index: 1;
  position: relative;
  width: 78vw;
  transform: rotate(180deg);
}
#fanbase .fanbase__galery .fanbase-galery_item-7 {
  overflow: hidden;
  height: 3vh;
  margin: 0 0 1vw -17vw;
}
#fanbase .fanbase__galery .fanbase-galery_item-4 {
  margin-left: -29vw;
}
#fanbase .fanbase__galery .fanbase-galery_item-4 img {
  z-index: 2;
  position: relative;
  margin-top: -2vh;
  width: 61vw;
}
#fanbase .fanbase__galery .fanbase-galery_item-5 {
  overflow: hidden;
  height: 3vh;
}
#fanbase .fanbase__galery .fanbase-galery_item-2 {
  height: 35.5vh;
}
#fanbase .fanbase__galery .fanbase-galery_item-9 {
  margin-left: 12vw;
}
#fanbase .fanbase__galery .fanbase-galery_item-9 img {
  width: 73vw;
}
#fanbase .fanbase__header {
  margin: 0 10vw 0 3vw;
}
#fanbase .fanbase__body {
  text-align: center;
  margin: 0 10vw 0 7vw;
  margin-bottom: 4vh;
  padding-bottom: 6vh;
}
#fanbase .fanbase__body .fanbase-list {
  list-style-type: none;
}
#fanbase .fanbase--galery__img-1 {
  width: 78vw;
}
#fanbase .fanbase--galery__img-2 {
  width: 59vw;
}
#fanbase .fanbase--galery__img-3 {
  padding-bottom: 6vh;
  padding-top: 9vh;
  width: 50vw;
}
#fanbase .fanbase--galery__img-4 {
  width: 69vw;
}
#fanbase .fanbase--galery__img-5 {
  width: 89vw;
}
#fanbase img {
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
