.main-nav--mobile{
    display : none; 
}

.main-nav{
    display : flex; 
    position: absolute;
    justify-content:space-evenly;
    width : 85vw; 
    color : white;
    .main-nav__logo{
        margin-top : 2vh;
    }
    
    .main-nav__list{
    
    @include flex ;
    list-style-type : none; 
    justify-content:space-evenly;
    width: 50vw;
    li {
        a{
            
            text-decoration: none;
            color:white;
        }
    }
}


    .main-nav__list-social{
       
        @include flex ;
        list-style-type : none; 
        justify-content:space-evenly;
        width: 13vw;
        li {
            a{
                
                text-decoration: none;
                color:white;
                opacity : 0.5;
            }
        }
    }
    .main-nav__hamburger{
        @include flex ;
        opacity : 0.5;
    }
}

.stack_first-block--Discopraphy{
    padding-top: 10rem;
    padding-bottom: 10.5rem;
    h1 {
        font-size: 2vw;
    }
    .main-nav__list{
        width: 16vw;
        .main-nav__item{
            @include flex;
            a {
                font-size : 1vw;
            }
            i {
                font-size : 0.5vw;
            }
        }
        
    }
}



