.main-nav {
    @include display
}

.hidden {
    @include display
}


// header of the page 

.header {
 
    
    max-width : 480px;
    width: 100vw;
}

.main-nav--mobile{
    display :flex;
    background-color: $darkgrey;
    flex-direction: row;
    font-size: $small;
    justify-content: start;
    color : white; 
    align-items: center; 
    justify-content: space-between;
    height: 10vh;
    
   
   
   .main-nav__hamburger--mobile {
    margin :  0 0.6rem 0  0.5rem; 
    font-size : 2rem;
   }
    .brand-name--icon {

            width: 12rem;
            
    }
   
   
    .main-nav__list--mobile{
        @include flex;
        list-style-type: none;
        font-size: 0.35rem;
        @include display;
       

    }
    .parameters {
        padding: 0 1rem 0 2rem;
        font-size: 1.8rem;
    }
    .main-nav_container--mobile{
            display : flex;
            align-items: center;
    }
  

}




