#profil img {
    width: 70vw;
    margin: 2rem ;
}
.discover{

    display: grid;
    grid: 50vw 50vw;

}
.profil__descritpion--contact{

    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
}